.Auth{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background: #33333d;
}

.AuthContent{
    width: 100%;
    max-width: 350px;
    background: rgb(224, 222, 222);
    height: 395px;
    margin-top: 85px;
    border-radius: 10px;
    box-shadow: 10px 12px 114px black;
    position: relative;
}

.AuthContent .footer{
    position: absolute;
    bottom: 50px;
    left: -10px;
}


.AuthContent .footer .Button{
    width: 130px;
    height: 30px;
}



.AuthContent .Input:nth-child(1){
    margin-top: 49px;
    margin-bottom: 50px;

}

.AuthContent .Input{
   margin-right: 20px;
}

.AuthContent .Input label{
    margin-left: 30px;
 }

.AuthContent .Input input{
    max-width: 260px;
    margin-left: 20px
}

.AuthContent .Input label{
    font-size: 20px
}

.Auth .uploader {
    display: flex;
    margin-top: 85px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #04b97f;;
    padding: 5px;
    margin-right: 15px;
    position: relative;
}

.Auth .uploader input {
    display: none;
}

.Auth .uploader label {
  position: absolute;
  top: 38px;
  left: 6px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}


.uploader .imgAvatar {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    object-fit: cover;
}

.uploader:hover img{
    display: none;
}
